body {
    background-color: #310e59;
    color: black;
    background-size: cover;
}

.parallax {
    background-image: url('/static/podcast/images/background-image-full.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
}

#image-soften {
  background-color: rgba(255, 255, 255, .7);
}

/*NAVBAR  */
nav.navbar {
    background-color: #310e59;
    justify-content: center;
    /*justify-self: center;*/
}

div.navbar-header {
    height: 30px;
    /*border: 3px solid yellow;*/
}

.nav-link {
    width: 90px;
    height: auto;
    text-align: center;
    /*border: 1px solid black;*/
}

@media (max-width: 500px) {
    .nav-link {
        width: 40px;
    }

}

.episode-seperator {
    border: solid 2px black;
    width: 100%;
}

.newsfeed-liked-episode {
    background-color: #d0d0d0;
    border: 2px solid #f890e7;
    padding: 6px;
    margin: 6px;
}

#menu-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: auto;

}

#main-content {
    padding: 3%;
}

#header-content {
    padding: 5%;
    padding-bottom: px;
    width: 100%;
    text-align: center;
}

.row {
    background-color: white;
    border-radius: 25px;
}

#newsfeed-row {
  padding: 4px;
  margin: 3px;
}

.user-row {
  margin-bottom: 2px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.browsing-row {
  margin: 3px;
}

#browse-row {
  padding-left: 15px;
}

.newsfeed-item {
  padding: 4px;
  margin: 3px;
}

.user-profile {
  margin-left: 5px;
  margin-right: 5px;
}

#user-bio {
  padding-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

#audio-row {
  border-radius: 0;
}

.episode-details {
  padding: 20px;
  margin: 5px;
}

.fas {
  text-align: center;
  padding-right: 3px;
  padding-left: 2px;
}

a:link {
    color: black;
}

a:visited {
    color: black;
}

.row-cover-art {
    padding: 5px;
}

/*#episode-cover-art {
    padding: 5px;
    text-align: center;
    display: block;
    margin: auto;
}*/

img.cover-art-float{
    float: right;
}

body {
    padding-top: 65px;
}

audio {
    margin: 5px;
    width: 100%;
}

.episode-display {
    background-color: white;
}

.jumbotron {
    background-color: #3F51B5;
}

h1, h4 {
  /*color: #51ba56;*/
  color: #419945;
  /*text-shadow: 2px 2px black;*/
}

nav.navbar a {
  color: #51ba56;
}

.btn {
  background-color: #ff8800;
  color: #FFFFFF;
}

button.btn-default {
  background-color: #ff8800;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 5px;
}

#input-search-field {
    margin-bottom: 4px;
}

.podcast-cover-image {
    margin: 10px;
    box-shadow: 5px 5px 2px grey;
}

.podcast-name {
    margin: 5px 2px ;
}

.bullhorn {
    /*color: #51ba56;*/
    color: #419945;
}

.episode-search-name {
    text-align: right;
}
