body {
    /*background-color: #0bd3d3;*/
    background-color: #000000;
    color: white;
}
nav.navbar {
    background-color: #f890e7;

}

div.navbar-header {
    height: 30px;
    /*border: 3px solid yellow;*/
}

.episode-seperator {
    border: solid 2px black;
    width: 100%;
}

.newsfeed-liked-episode {
    background-color: #d0d0d0;
    border: 2px solid #f890e7;
    padding: 6px;
    margin: 6px;
}

#menu-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: auto;

}

#main-content {
    padding: 5%;
}

#header-content {
    padding: 5%;
    padding-bottom: 1px;
    width: 100%;
    text-align: center;
}

.row {
    background-color: #0bd3d3;
    margin-bottom: 2px;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}

.row-cover-art {
    padding: 5px;
}

#episode-cover-art {
    padding: 5px;
    text-align: center;
    display: block;
    margin: auto;
}

audio {
    margin: 5px;
    width: 100%;
}

.episode-display {
    background-color: #f890e7;
}

.jumbotron {
    background-color: #f890e7;
}