body {
    background-color: #0bd3d3;
    color: white;
}
nav.navbar {
    background-color: #f890e7;
}

.episode-seperator {
    border: solid 2px black;
    width: 100%;
}

.newsfeed-liked-episode {
    background-color: #d0d0d0;
    border: 2px solid #f890e7;
    padding: 6px;
    margin: 6px;
}

#menu-button {
    background-color: transparent;
    border: none;
    width: 100%;
    height: auto;
}

/*.menu-options {*/
    /*color: white;*/
    /*width: 100%;*/
/*}*/



a:link {
    color: white;
}

a:visited {
    color: white;
}