{% extends 'base.html' %}

{% block header %}
    <h1>{{ episode.title }}</h1>

    <p>{{ already_liked }}</p>

{#    <audio controls src="{{ episode.audio_link }}"></audio><br>#}
    {% if already_liked %}
        <button class="btn btn-warning" id="unlike-button" onclick="removeFromLikes('{{ request.user.username }}','{{ episode.title }}')">UNLIKE</button>
    {% else %}
        <button class="btn btn-warning like-button" onclick="addToLikes('{{ episode.title }}')">TELL THE WORLD YOU LIKE IT</button>

    {% endif %}

{% endblock %}



{% block content %}
    <div class="row">
        <audio controls src="{{ episode.audio_link }}"></audio>
    </div>
    <div class="row">
        <img id="episode-cover-art" src="{{ episode.podcast.large_art }}" alt="episode image">
    </div>
    <div class="row">
        {{ episode.description|safe }}
    </div>


{#    <div class="row">#}
{#    <button class="btn btn-light like-button" onclick="addToLikes('{{ episode.title }}')">TELL THE WORLD YOU LIKE IT</button>#}
{#    </div>#}
    <h3>Recommended by:</h3>

    {% for i in recommending_users %}
        <p><a href="/user/{{ i.user.username }}">{{ i.user.username }}</a></p>

    {% endfor %}



{% endblock %}
