{% extends 'base.html' %}

{% block header %}
    <h1>{{ episode.title }}</h1>

{#    <audio controls src="{{ episode.audio_link }}"></audio><br>#}
    {% if already_liked %}
        <button class="btn btn-warning" id="unlike-button" onclick="removeFromLikes('{{ request.user.username }}','{{ episode.title }}')">UNLIKE</button>
    {% else %}
        <button class="btn btn-warning like-button" onclick="addToLikes('{{ episode.title }}')">TELL THE WORLD YOU LIKE IT</button>

    {% endif %}

{% endblock %}



{% block content %}
    <div class="row" id="audio-row">
        <audio controls src="{{ episode.audio_link }}"></audio>
    </div>
    <div class="row episode-details">
        <p><img class="cover-art-float" id="episode-cover-art" src="{{ episode.podcast.large_art }}" alt="episode image">
      {{ episode.description|safe }}</p>
    </div>

    {% if recommending_users %}
    <div class="row episode-details">
        <h3>Recommended by:</h3>
      <ul>
    {% for i in recommending_users %}
        <li><a href="/user/{{ i.user.username }}">{{ i.user.username }}</a></li>

    {% endfor %}
  </ul>
    </div>
    {% endif %}




{% endblock %}
