{% extends 'base.html' %}


{% block content %}
    <div class="container-fluid">
        <div class="jumbotron">
            <h1>Welcome to Podcast Social Network</h1>
            <a href="/login/"><i class="fas fa-sign-in-alt" style="color: #FFFFFF"></i> login</a>
            </divcontainer>

            <div id='sign-up-form'>
                <a href="/signup/"><i class="fas fa-user-plus" style="color: #FFFFFF"></i> New User</a>

            </div>
            <br>
            <div class="row browsing-row about">
                <p>PSN is a web-app to help you find, listen to, and recommend great podcasts.</p><br>
                <p>New User?  Try by searching for Podcasts you like, recommending episodes, and browsing for other users to listen to their recommendations.</p>
            </div>

        </div>
    </div>

{% endblock %}
