{% for i in search_result %}
    <div class="container-fluid">
        <div class="row" id="search-results-podcast" onclick="clickCoverImage('{{ i.feedUrl }}', '{{ i.collectionId }}', '{{ i.trackName }}')">
            <div class="col-7"><h6 class=" podcast-name">{{ i.trackName }}</h6></div>
            <div class="col-5"><img src="{{ i.artworkUrl100 }}" alt="image" class="podcast-cover-image"></div>
        </div>
        <div class="episodes" id="{{ i.collectionId }}">
        </div>
    </div>


{% endfor %}

