{% extends 'base.html' %}


{% block header %}
    <h1>{{ display_user.username }}</h1>

    {% if current_user_page %}
        {# If viewing own page, no follow/unfollow button#}
    {% else %}
        {#  If viewing others' page, follow button#}
        {% if already_following %}
            {#  If Following, add UNFOLLOW button#}
            <button class="btn btn-warning" id="un-follow-user" onclick="unFollowUser('{{ request.user.username }}',
                    '{{ display_user.username }}')">Unfollow {{ display_user.username }}</button>
        {% else %}
            {#  If Not Following, add FOLLOW button#}
            <button class="btn btn-warning" id="follow-user" onclick="followUser('{{ request.user.username }}', '{{ display_user.username }}')">
                Follow {{ display_user.username }}</button>
        {% endif %}
    {% endif %}
{% endblock %}


{% block content %}

    <div class= "container user-profile" >

    {% if display_user.bio %}
      <div class="row user-row">
        <div class="col-12" id="user-bio">{{ display_user.bio }}</div>
      </div>
    {% endif %}

    </div>

    {% if user_likes %}
    <h4>Recommended Episodes:</h4>
    <div class="container user-profile" id="user-likes">
        {% for i in user_likes %}
            <div class="row user-row">
                <div class="col-1 rec-heart-icons" style="color: #4CAF50" ><i class="fas fa-heart fa-lg"></i></div>
                <div class="col-10" id="user-page-podcast-name-short">{{ i.episode.podcast }}</div>
                <div class="col-12">
                    <a style="text-decoration: underline" href="/episode/{{ i.episode.slug }}">{{ i.episode.title }}</a><br>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}


    {% if followers %}
    <h4>Following these Users:</h4>
    <div class="container user-profile" id="user-following">
        {% for i in followers %}
            <div class="row user-row">
                <div class="col-1" style="color: #4CAF50"><i class="fas fa-arrow-circle-down fa-lg"></i></div>
                <div class="col-9 these-users">
                    <a href="/user/{{ i.following.username }}">{{ i.following.username }}</a>
                </div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {% if followed_by_list %}
    <h4>Followed by these Users:</h4>
    <div class="container user-profile" id="user-followed-by">
        {% for i in followed_by_list %}
            <div class="row user-row">
                <div class="col-1" style="color: #4CAF50"><i class="fas fa-bullhorn fa-lg"></i></div>
                <div class="col-9 these-users"><a href="/user/{{ i.user.username }}">{{ i.user }}</a></div>
            </div>
        {% endfor %}
    </div>
    {% endif %}

    {#     <a href="/user/{{ i.username}}">{{ i.username }}</a>#}

{% endblock %}
