{% load static %}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Podcast Social Network</title>
    <link rel="stylesheet" href="{% static 'podcast/CSS/style.css' %}">
</head>

<div class="navbar">
    Navbar {{ user }} <br>
    <a href="/logout/">Logout</a>
    <a href="/">Home</a>
    <a href="#"> My Podcasts</a>
    <a href="/search/">Podcast Search</a>
    <a href="#">Settings</a>
</div>

<body>
    {% block content %}
    {% endblock %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static 'podcast/script/script.js' %}"></script>
</body>